@media (max-width: $tablet) {

    header h1 {
        margin: 0 auto 10px auto;
        text-align: center;
        font-size: 1.1rem;
        width: 100%;
    }

    .navmenu ul {
        display: flex;
        flex-direction: column;
    }

    .navbar .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .navbar-brand {
        margin-right: 0; 
        width: 100%;  
        display: block;
    }

    h2{
        font-size: 1rem;
    }
    
    .articleProductos {
        flex-direction: column;
        align-items: center;
        article {
            width: 75%;
        }
    }

    footer ul {
        @include flex-col-center;
    }
}

@media (max-width: $desktop-sm) {

    header {
        @include flex-col-center;
    }

     header h1{
        margin: 0 auto 10px auto;
        text-align: center;
        font-size: 1.3rem;
        width: 100%;
     }   

    .navbar .container-fluid {
        @include flex-col-center;
        margin: 0;
    }

    /*menú de hamburguesa*/
    .navbar-toggler {
        border-color: $color-primario;
        border-width: 1.5px;
        border-radius: 5px;
        &:focus {
            box-shadow: none;
            outline: 0;
        }    
    }

    h2{
        font-size: 1.1rem;
    }

    h3, h4{
        font-size: 1rem;
    }

    p{
        font-size: 0.9rem;
    }
}